//
//  Android.xcconfig
//  UIKit
//
//  Created by Chen Yonghui on 12/6/13.
//  Copyright (c) 2013 Shanghai Tinynetwork Inc. All rights reserved.
//

SDK_ROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/Android18.sdk
SDK_LIB_PATH=$(SDK_ROOT)/usr/lib

DEPLOYMENT_LOCATION = YES
DSTROOT = /
INSTALL_PATH = $(SDK_ROOT)/System/Library/Frameworks/
LD_DEPENDENCY_INFO_FILE=

BASE_CFLAGS= -fblocks
BASE_LDFLAGS= -shared -lEGL -lgnustl_shared -lobjc

OTHER_CFLAGS = $(inherited) $(BASE_CFLAGS)
OTHER_LDFLAGS = $(inherited) $(BASE_LDFLAGS)

